@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

:root {
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: #fbfdfe;

  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);

  --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NotoSans", sans-serif;
  font-size: 1rem;
  background: var(--Dark-Gradient);
  color: var(--Neutral-100);

  & strong {
    font-size: .875rem;
  }

  & span {
    font-size: .75rem;
  }
}

.container {
  max-width: 85%;
  margin: 1.875rem auto;

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Neutral-800);
    padding: .5rem .75rem;
    border-radius: .75rem;
    margin-bottom: .75rem;

    & .logo {
      line-height: 0;
    }

    & .toggle-themes {
      background-color: var(--Neutral-700);
      line-height: 0;
      padding: .625rem;
      border-radius: .5rem;
    }
  }

  & .main {
    & .filter-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .75rem;

      & h1 {
        font-size: 1.625rem;
      }

      & .filter {
        display: flex;
        gap: .625rem;

        & button {
          padding: .5rem .9375rem;
          border-radius: 1.25rem;
          border: none;
          background-color: var(--Neutral-700);
          color: var(--Neutral-100);
          cursor: pointer;
        }
      }

    }

    & .extension {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17.1875rem, 1fr));
      gap: 1.25rem;

      & article {
        background-color: var(--Neutral-800);
        border-radius: .75rem;
        height: 8.125rem;
        padding: .75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .content-main {
          display: flex;
          gap: .75rem;

          & .text-content {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            & strong {
              font-size: .875rem;
            }

            & span {
              font-size: .75rem;
            }
          }
        }

        & .content-button {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & .btn-remove {
            background-color: transparent;
            color: var(--Neutral-100);
            padding: .25rem .5rem;
            border: 1px solid var(--Neutral-100);
            border-radius: .75rem;
          }

          & .content-toggle {
            border-radius: 12px;
            border: none;
            position: relative;
            background-color: var(--Neutral-700);
            width: 2.1875rem;
            height: 1.125rem;
            padding-inline: .125rem;

            & input {
              position: absolute;
              opacity: 0;
              inset: 0;
              cursor: pointer;
              z-index: 2;
            }

            & span {
              width: .9375rem;
              height: .9375rem;
              border-radius: 50%;
              background-color: var(--Neutral-0);
              position: absolute;
              top: .125rem;
            }
          }
        }
      }
    }
  }
}